<ul>
{% for lang in site.data.lang %}
	{% assign pages = site.pages | where:"ref", page.ref | where:"lang", lang[0]  %}
	{% assign posts = site.posts | where:"ref", page.ref | where:"lang", lang[0]  %}

	<li>
	{% if pages[0] %}
		<a href="{{ pages[0].url }}" class="{{ lang[0] }}">
			<img title="{{ lang[1].description }}" src="/assets/images/lang/{{ lang[0] }}.png" />
		</a>
	{% elsif posts[0] %}
		<a href="{{ posts[0].url }}" class="{{ lang[0] }}">
			<img title="{{ lang[1].description }}" src="/assets/images/lang/{{ lang[0] }}.png" />
		</a>
	{% else %}
		<a href="/404-{{ lang[0] }}.html?ref={{ page.url }}" class="{{ lang[0] }}">
			<img title="{{ lang[1].description }}" src="/assets/images/lang/{{ lang[0] }}.png" class="desaturate" />
		</a>
	{% endif %}
	</li>

{% endfor %}
</ul>