<div class="sidebar-module">
    <h4>Sobre</h4>
    <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
    <span>{{ site.data.lang[page.lang].about }}</span>
    <br /><br />

    {{ site.data.lang[page.lang].more-info-and-contacts }}:<br />
    <a href="mailto:maycon@hacknroll.com" title="mailto: maycon@hacknroll.com">Email</a> /
    <a href="https://github.com/maycon" title="GithubID: maycon">Github</a> /
    <a href="https://linkedin.com/in/mayconvitalii" title="TwitterID: mayconvitali">LinkedIn</a> /
    <a href="https://twitter.com/mayconvitali" title="TwitterID: mayconvitali">Twitter</a>
</div>
