---
---

@import "{{ site.theme }}";


/* ---- FONTS ----*/
@font-face {
    font-family: GraublauWeb;
    src: url("/static/fonts/awesome.otf") format("opentype");
}

.container { width: 90%; max-width: 1024px; margin: 0 auto; }


.post {
	padding: 10px;
	border: 1px dashed #b5e853;
	background: #000;
}

#main_content {
	float: left;
	max-width: 700px; 
}

footer { clear:both; text-align: center; }


/* ---- Side bar ---- */

#sidebar {
	width: 280px;
	float: right;
}

.sidebar-module {
	margin-bottom: 40px;
	font-size: 12px;
}

.sidebar-module h4 {
	font-size: 16px;
	margin: 0px;
}


.sidebar-module li {

}

.sidebar-module img {
    border-radius: 50%;
    width: 156px;
    margin: auto;
    display: block;
    padding: 10px;
}

.sidebar-module span {
	font-size: 12px;	
}

/* ---- MENU ---- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
	display: inline;
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
